.blok_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 296px;
    margin-left: 140px;
}

.blok_left h1 {
    font: 500 96px Lexend;
    text-align: left;
    color: #FFFFFF;
}

.blok_left h2 {
    font: 500 96px Lexend;
    text-align: left;
    color: #478BF9;
}

.blok_left p {
    font: 500 32px Lexend;
    text-align: left;
    color: #FFFFFF99;
    margin-top: 24px;

}

.blok_left button {
    width: 393px;
    height: 72px;
    padding: 20px 70px;
    border-radius: 48px;
    font: 600 24px Lexend;
    color: #FFFFFF;
    background-color: #478BF9;
    margin-top: 48px;
}

.blok_center {
    display: flex;
    flex-direction: column;

}

.blok_center .line_left {
    background-image: url('./assets/Line_Vertical_1.svg');
    width: 100px;
    height: 1334px;
    margin-left: 851px;
    margin-top: -500px;
    background-repeat: no-repeat;
    background-size: contain;
    animation: move 7s 0s infinite linear;
    /* transform-box: view-box; */
}

.blok_center .line_center {
    background-image: url('./assets/Line_Vertical_2.svg');
    width: 102px;
    height: 1211px;
    margin-left: 966px;
    margin-top: -1330px;
    background-repeat: no-repeat;
    background-size: contain;
    animation: move 7s 0s infinite linear reverse;
    /* transform-box: view-box; */
}

.blok_center .line_right {
    background-image: url('./assets/Line_Vertical_3.svg');
    width: 100px;
    height: 1298px;
    margin-left: 1084.4px;
    margin-top: -1210px;
    background-repeat: no-repeat;
    background-size: contain;
    animation: move 7s 0s infinite linear;
    /* transform-box: view-box; */
}

@keyframes move {

    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(300px);
    }

}

.blok_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1249px;
    margin-top: -1300px;
    width: 531px;
    height: 659px;
    gap: 24px;

}

.blok_right h3 {
    font: 600 40px Lexend;
    color: #FFFFFF;

}

.blok_right .container {
    width: 531px;
    height: 595px;
    border-radius: 100px;
    border: 3px;
    background: #FFFFFF1F;
    border: 3px solid #478BF9;
    display: flex;
    padding-top: 10px;
}

.blok_right .scroll_bar {
    /* width: 490px; */
    height: 595px;
    /* margin-top: 24px; */
    margin-left: 2px;
    border-radius: 4px;
    overflow-y: auto;
    padding: 16px 20px;
}


.blok_right .scroll_bar::-webkit-scrollbar{
    width: 8px;
    border-radius: 10px;
}
.blok_right .scroll_bar::-webkit-scrollbar-thumb{
    /* border-radius: 10px; */
    background: #FFFFFF1F;

}
.blok_right .scroll_bar::-webkit-scrollbar-track {
    background: #478BF9;
    height: 104px;
    border-radius: 10px;
    margin-top: 96px;
}

.blok_right .scroll_bar .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: -475px; */
    /* margin-left: -24px; */
    gap: 16px;
}

.blok_right .scroll_bar .text .text_blok {
    width: 467px;
    height: 146px;
    padding: 16px 64px;
    border-radius: 196px;
    background: #1E1231;

}