.main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}

.block_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 550px;
    /* align-items: start; */
    /* margin-top: 296px;
    margin-left: 140px; */

    h1 {
        font: 500 96px Lexend;
        text-align: left;
        color: #FFFFFF;
    }

    .blue {
        color: #478BF9;
    }

    p {
        font: 500 32px Lexend;
        color: #FFFFFF99;
        margin-top: 24px;
    }

    button {
        width: 393px;
        height: 72px;
        /* padding: 20px 70px; */
        border-radius: 48px;
        font: 600 24px Lexend;
        color: #FFFFFF;
        background-color: #478BF9;
        margin-top: 48px;
        border: none;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}



.block_animation {
    /* left: -250px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
}

.block_animation .line_left {
    background-image: url('./assets/Line_Vertical_1.svg');
    width: 100px;
    height: 1300px;
    margin-left: 851px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    animation: move 3s ease infinite alternate;

}

.block_animation .line_center {
    background-image: url('./assets/Line_Vertical_2.svg');
    width: 100px;
    height: 1300px;
    margin-left: 966px;
    margin-top: -1280px;
    background-repeat: no-repeat;
    background-size: contain;
    animation: move 3s ease infinite alternate-reverse;

}

.block_animation .line_right {
    background-image: url('./assets/Line_Vertical_3.svg');
    width: 100px;
    height: 1300px;
    margin-left: 1084.4px;
    margin-top: -1305px;
    background-repeat: no-repeat;
    background-size: contain;
    animation: move 3s ease infinite alternate;

}

@keyframes move {

    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(6%);
    }

}

.block_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: 500px; */
    /* margin-top: 150px; */
    /* width: 531px;
    height: 659px; */
    gap: 24px;

    h3 {
        font: 600 40px Lexend;
        color: #FFFFFF;
    }

    /* .container { */
        /* width: 531px; */
        /* height: 595px; */
        /* border-radius: 100px; */
        /* background: #FFFFFF1F; */
        /* border: 3px solid #478BF9; */
        /* display: flex; */
        /* padding-top: 10px; */

        .scroll {
            width: 531px;
            background: #FFFFFF1F;
            height: 595px;
            /* margin: 0; */
            border: 3px solid #478BF9;
            /* margin-left: 2px; */
            border-radius: 100px;
            overflow-y: auto;
            /* padding-right: 20px; */
            /* padding: 24px 24px 40px; */

            /* overflow-y: auto; */
            &::-webkit-scrollbar {
                width: 8px;
                border-radius: 10px;

            }

            &::-webkit-scrollbar-track {
                background-color: #fff;
                /* height: 5px; */
                border-radius: 10px;
                margin-top: 96px;
                margin-bottom: 96px;

            }

            &::-webkit-scrollbar-thumb {
                width: 8px;
                height: 104px;
                border-radius: 10px;
                background: #478BF9;
            }


        }
    /* } */
}








.block_info .scroll .text_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: -475px; */
    /* margin-left: -24px; */
    gap: 16px;
    margin: 24px 40px 24px 24px;
}

.block_info .scroll .text_block .text_item {
    width: 467px;
    height: 146px;
    padding: 16px 64px;
    border-radius: 196px;
    background: #1E1231;
    margin-left: 6px;
    cursor: pointer;
}

.block_info .scroll .text_block .text_item:hover {
    background: #478BF9;
}

.text_block .text_item h5 {
    font: 400 24px Lexend;
    line-height: 28px;
    text-align: left;

}

.text_block .text_item p {
    font: 450 14px Lexend;
    text-align: left;
    margin-top: 14px;
}