* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1900px;
    height: max-content;
    margin: 0 auto;
    font: 400 16px Lexend;
    color: #FFFFFF;
    background-color: #1E1231;
}

a {
    text-decoration: none;
  }
  
  input {
    outline: none;
  }
  
  ul li,
  ol li {
    list-style-type: none;
  }