.footer {
    margin: 140px auto 0;
    width: max-content;
    padding: 40px 140px 24px;

    border-radius: 64px 64px 0px 0px;
    border-top: 4px solid #478BF9;
    border-right: 4px solid #478BF9;
    border-left: 4px solid #478BF9;
    background-color: #1E1231;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .info {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 40px;
        margin-right: 720px;
        /* height: 66px; */

        p {
            color: #FFF;
            font: 400 16px Lexend;
            cursor: pointer;

            &:hover {
                color: #478BF9;
                text-decoration: underline;
            }
        }
    }

    .icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;

        p {
            color: #FFF;
            text-align: right;
            font: 400 16px Lexend;
        }

        .wrapperIcons .fonIcon {
            display: flex;
            gap: 8px;

            .fonIconBlue {
                background-image: url('./assets/BlueFon.svg');
                background-repeat: no-repeat;
                background-size: contain;
                width: 32px;
                height: 32px;

                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-image: url('./assets/LightFon.svg');
                }

                .twitter {
                    background-image: url('./assets/Twitter.svg');

                }

                .facebook {
                    background-image: url('./assets/Facebook.svg');
                }

                .instagram {
                    background-image: url('./assets/Instagram.svg');
                }

                .linked {
                    background-image: url('./assets/LinkedIn.svg');
                }

                .youtube {
                    background-image: url('./assets/YouTube.svg');
                }

                .tiktok {
                    background-image: url('./assets/TikTok.svg');
                }

                .telegram {
                    background-image: url('./assets/Telegram.svg');
                }

                .vk {
                    background-image: url('./assets/VK.svg');

                }

                .twitter,
                .facebook,
                .instagram,
                .linked,
                .youtube,
                .tiktok,
                .telegram,
                .vk {
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                }
            }
        }
    }
}